<article class="eight wide column">
  <h2 class="ui header"> Data </h2>
  <p>
    The Internet of Things (IoT) has the potential to generate massive amounts of data that will demonstrate most of the characteristics of the Big Data. A single IoT system will incorporate a multitude of diverse devices generating a constant stream of data relevant to a variety of IoT applications. While most of the data will hold short term practical value (e.g. temperature readings, air pressure values), deep analysis of the historical data can provide a meaningful insight of high potential value. Such insight may relate to a particular IoT application (e.g. business analytics) as well as operation of the IoT system itself (operational analytics). The analysis of the IoT data will encompass descriptive, predictive and prescriptive business analytics with operational analytics closely linked to the growth of the IoT system. Operational analytics will be driven by data that is sourced from all things included into the IoT system. Consequently the IoT requires a new skill-set for data governance and analyses.
  </p>
</article>

<aside class="eight wide column">
  <img class="ui image" src="../assets/images/iot/data/data-1.png">
</aside>

<section class="sixteen wide column">
  <img class="ui image" src="../assets/images/iot/timeline.png">
  <img class="ui image" src="../assets/images/iot/data/data-modules.png">
</section>

<aside class="eight wide column">
  <img class="ui image" src="../assets/images/iot/data/data-2.jpeg">
</aside>

<article class="eight wide column">
  <h3 class="ui header"> Data Learning Paths </h3>
  <p>
    The Programming Stand will start with an introduction to the discipline of problem solving, establishing a firm foundation in the skill set needed for basic algorithm and data structure formation. Concurrently, students will be introduced to web technologies and be encouraged to apply their new skills to the creation of interesting websites and applications. Second year will see the students deepen their core programming knowledge, covering the fundamental algorithms and data structures, with an emphasis on understanding the trade-offs associated with performance, efficiency and resource consumption. They will continue to implement interesting applications, with a focus on cloud hosted web services. By third year they will have the competence to take on a major application platform with an in depth module on modern App development. In final year they will return to the Web Technologies, but this time with a more sophisticated tool set and deeper understanding of the issues. This will culminate in an exploration of emerging IoT platforms, their characteristics and likely trajectories.
  </p>
</article>