<footer class="ui center aligned stacked segment">
  <a href="http://www.facebook.com/witcomp"> <i class="large facebook icon"></i> </a>
  <a href="href='http://twitter.com/ComputingAtWIT"> <i class="large twitter icon"></i> </a>
  <a href="href='http://www.linkedin.com/pub/computing-at-wit">  <i class="large linkedin icon"></i> </a>
</footer>
