<header class="ui two column center aligned middle aligned stacked stackable grid segment">
  <div class="column">
    <h2 class="ui header"> Department of Computing &amp; Mathematics </h2>
    <h3 class="ui header"> BSc (Hons) the Internet of Things </h3>
  </div>
  <div class="column">
    <p>
      <img class="ui medium image" src="/assets/images/wit-crest.png" alt="WIT Crest">
    </p>
  </div>
</header>