<section class="ui center aligned grid stacked stackable segment">
  <section class="ui row">
    <p> Supported by leading edge research at... </p>
  </section>
  <section class="ui three column row">
    <div class="ui column">
      <img class="ui image" src="/assets/images/tssg.png">
    </div>
    <div class="ui column">
      <img class="ui image" src="/assets/images/ctrg.png">
    </div>
    <div class="ui column">
      <img class="ui image" src="/assets/images/automotive.png">
    </div>
  </section>
</section>
