<section class="ui grid">
  <article class="ui seven wide column raised blue segment">
    <div>
      <p>
        BACHELOR OF SCIENCE (HONOURS)
      </p>

      <h3>
        APPLIED COMPUTING IN THE INTERNET OF THINGS
      </h3>

      <h3>
        Program your World!
      </h3>
      <p>
        An exciting new level 8 Honours Degree for 2015. Combine Programming and Electronics and learn how to code cool devices, places and things. Be part of the next wave of innovation in Computing
      </p>
    </div>
  </article>
</section>